#countires{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    
}
.country{
    border : 2px solid tomato;
    margin:10px;
    border-radius: 13px;
    padding:6px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}